@charset "UTF-8";

body {
	/* background-image: url("../../images/custom/global/pattern-eggshell.png?v=#version#"); */
	background-color:#fff;
	background-repeat: repeat;
	background-position: 0 0;
	background-attachment: fixed;
	font-family: "../webfont/avenir_45_bookregular", sans-serif !important;
	/* font-stretch:inherit;
	font-weight:inherit;
	font-style:inherit;
	unicode-range:urange; */
    letter-spacing: -0.01em !important;
	text-shadow:none;
	line-height: inherit;
	outline: none !important;
	/* min-width: 767px; */
	padding-right: 5px;
}		

#wrapper {
	background: none;
	position: relative;
	margin-top:80px;
	/* margin-left:8px;
	margin-right:0px;
	min-width:900px; */
	min-height: 100%;
}

#content { /* must be same height as the footer */
	overflow:auto;
	padding-bottom: 100px; /* was padding-bottom: 180px; */
} 


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								Prototype Feature ONLY  		               */
/* //////////////////////////////////////////////////////////////////// */

/* used only when a feature isnt ready for primetime, this hides it */

.p-feature {display:none;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								DockBar Styling     				           */
/* //////////////////////////////////////////////////////////////////// */

#header {left: 0; position: fixed; top: 0; z-index: 101;
	/* -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.25); */}

#headerArt { 
    position: fixed;
    float: left;
   	display: inline;
   	left: 0;
    min-width: 1080px;
	}

#headerArt div {
		float: left;
		display: inline;
}

.SunGard-dockbar a, .SunGard-dockbar .menu-button-active a {
	text-shadow: none;
 /* color: #ffffff; */
}

.SunGard-Dockbar {
	position: fixed;
	z-index: 25;
	-moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
}
	
.dockbarFill {
	/* background: url("../../images/custom/global/dockbar_sungard_header_fill.jpg?v=#version#") repeat left top; */
	height: 40px;
	width: 100%;
	border-bottom:5px solid #f0ece4;
}
	
#headerArt-Items { 
    margin-left:5px;
	margin-right:10px;
	float:left;
	display: inline;
	z-index:99;
	/* margin-right:5px; */
}

.SunGard-logo {
        background: url("../../images/custom/global/dockbar_sungard_logo.jpg?v=#version#") no-repeat left top transparent;
        width: 140px;
        height: 40px;
		display:inline;
		float:left;
		margin-left: 0px;
}

/*.SunGard-lightBlue {
        background: url("../../images/custom/global/dockbar_sungard_nav_fill.png?v=#version#") repeat-x left top;
        height: 40px;
        width: 210px;
        position: fixed;
        top: 0px;
        left: 140px;
		padding: 4px 0 0 6px;
}

.SunGard-lightBlue span {
        color: #fff;
        text-transform:uppercase;
        font-size: 0.7em;
        font-family:"../webfont/Avenir-Light", sans-serif;
    	position: relative;
} */

.SunGard-stripes {
        background: url("../../images/custom/global/dockbar_sungard_stripes.jpg?v=#version#") no-repeat left 0px;
        width: 163px;
		height:40px;
        border-right: 1px solid #ffffff;
		margin-left: 0px;
}


/* welcome <username> styling */	
.user-fullname {color: #F7F7F7; font-size: 0.8em; margin-right: 20px; margin-top: 6px;}

/* user sign out styling */
.sign-out {
	 color: #fff;
    font-size: 55%;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: Uppercase;
}

.sign-out:hover {opacity:0.5}
.sign-out:focus {color: #575757;}
.sign-out:active {color: #575757;}

.assistIcons {position: fixed; top: 5px; z-index: 200; right: 4px;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		                 Styling for Home Welcome Page 		                  */
/* /////////////////////////////////////////////////////////////////////////// */

.homepg-container {margin: 80px 0 0 20px;letter-spacing:-0.05em;font-weight:lighter; }
.launchpad-container {width:160px;float:left; disp-lay:inline-block;margin-right:25px;height:500px;}
		 
.welcome-container {float:left; min-width:542px;max-width:65%;margin-right:15px;position:relative;}
		 
.homepg-container .headline {font-size:1.8em;color: #52ADB5;}
.homepg-container .description {font-size:75%;color: #575757;margin-bottom:5px;}
.homepg-container .headline, .homepg-container .description {text-align: left;}
.launchpad-container .headline, .launchpad-container .description {text-align: right;}
		 
.help-area-container {background-color: rgba(133,224,232,0.25); padding:10px 20px; border-radius:6px;}
.help-area-container .items, .help-area-container .text {font-size:75%;letter-spacing:-0.05em;float:left;}
.help-area-container .items li {text-align: right; margin-right:10px;}
.help-area-container .items li:first-child {height:24px; color: #52ADB5;font-weight:bolder;}
.help-area-container .text {text-align: left; color: #575757;font-weight:lighter;}
.help-area-container .text li:first-child {margin:5px 0 12px 0;}
.help-area-container .text li:last-child {margin:12px 0 0 0;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		             DRAWER Styling for App, Tutorial, Help 		           */
/* /////////////////////////////////////////////////////////////////////////// */

.tooldrawer-toggle {width:40px;height:40px;background-color:#1F7A82; padding:8px 0 0 8px; border-radius:0;}

#tooldrawer-container {
	position: fixed; 
	top: 40px; 
	left: 0px; 
	z-index: 202; 
	display: block; 
	width: 180px; 
	border: 2px solid rgb(31, 122, 130); 
	background-color: rgba(0, 71, 79, 0.9); 
	color: rgb(255, 255, 255); 
	padding: 10px;
	}
	
.AppTool-Txt {text-align: center; font-size:65%; margin-bottom: 10px; text-transform:uppercase;}

.AppTool-IconBox, .LaunchPadTool-IconBox {
	width:75px;
	display:inline-block;
	vertical-align:top;
	font-size: 55%; 
	letter-spacing: 0.1em;
	position:relative; 
	text-align: center;
	text-transform: capitalize;
}


.AppTool-IconBox, .LaunchPadTool-IconBox {
   color: #fff; 
	margin-bottom:10px;
}

.LaunchPadTool-IconBox {
	color: #39949C; 
	margin-bottom:20px;
}


/* ---------- APP TOOL DRAWER Icons ---------- */

.AppButtons-AppMenu, .AppButtons-UserApps, .AppButtons-AdminApps, .HelpButtons-HelpTools {margin-bottom: 0px;}

/*  lpt = launch pad     sglp = sungard launch pad tool   */
/*  at = app tool     sgat = sungard app tool   */

[class^="iconsg-lpt-t"], [class*="iconsg-lpt-t"], [class^="iconsg-at-t"], [class*="iconsg-at-t"], [class^="iconsg-at-w"], [class*="iconsg-at-w"]   {
	display: inline-block;
	background-repeat: no-repeat;	
	background-size: 400px 398px;
	line-height: 15px;
}

[class^="iconsg-lpt-t"], [class*="iconsg-lpt-t"]  {
	width: 70px;
	height: 65px;
	border:1px solid #85E0E8;
	border-radius: 8px;
	
}

[class^="iconsg-lpt-t"], [class*="iconsg-lpt-t"] {background-image: url("../../images/iconsprites/launchicon-sprite-teal.png?v=#version#");}
[class^="iconsg-lpt-t"]:hover, [class*="iconsg-lpt-t"]:hover {background-image: url("../../images/iconsprites/launchicon-sprite-black.png?v=#version#");border:1px solid #575757;}

[class^="iconsg-at-t"], [class*="iconsg-at-t"], [class^="iconsg-at-w"], [class*="iconsg-at-w"] {
	width: 70px;
	height: 60px;
}
				
[class^="iconsg-at-w"], [class*="iconsg-at-w"] {background-image: url("../../images/iconsprites/launchicon-sprite-white.png?v=#version#");}
[class^="iconsg-at-w"]:hover, [class*="iconsg-at-w"]:hover {background-image: url("../../images/iconsprites/launchicon-sprite-teal.png?v=#version#");}

/* row 1 */				
[class*="-sgatHome"] {background-position: -9px -11px;}	
[class*="-sgatUserManage"] {background-position: -88px -11px;}	
[class*="-sgatCustomerManage"] {background-position: -166px -11px;}		
[class*="-sglptConfigure"], [class*="-sgatConfigure"] {background-position: -244px -11px;}		
[class*="-sglptTestPlan"], [class*="-sgatTestPlan"] {background-position: -323px -11px;}

/* row 2 */		
[class*="-sglptR2C-SR"], [class*="-sgatR2C-SR"] {background-position: -9px -90px;}
[class*="-sglptR2C-SRM"], [class*="-sgatR2C-SRM"] {background-position: -88px -90px;}
[class*="-sglptTicketing"], [class*="-sgatTicketing"] {background-position: -166px -90px;}
[class*="-sglptSolutions"], [class*="-sgatSolutions"] {background-position: -244px -90px;}
[class*="-sglptSiteAccess"], [class*="-sgatSiteAccess"] {background-position: -323px -90px;}	


/* ---------- APP INDICATOR Icons ---------- */
/*  ai = app indicator     sgai = sungard app indicator   */

/*  for app tool drawer icon indicator:  
	<i class="png-AppIcon withMenu sgaiTestPlan"></i> 
*/

[class^="iconsg-ai-b"], [class*="iconsg-ai-b"], [class^="iconsg-ai-w"], [class*="iconsg-ai-w"], [class^="iconsg-ai-t"], [class*="iconsg-ai-t"] {
	display: inline-block;
	width: 29px;
	height: 25px;
	background-repeat: no-repeat;	
	background-size: 200px 199px;
	background-color: transparent;
	background-position: 0 0;	
}

[class^="iconsg-ai-b"], [class*="iconsg-ai-b"] {background-image: url("../../images/iconsprites/appicon-sprite-black.png?v=#version#");}
[class^="iconsg-ai-w"], [class*="iconsg-ai-w"] {background-image: url("../../images/iconsprites/appicon-sprite-white.png?v=#version#");}
[class^="iconsg-ai-b"], [class*="iconsg-ai-b"], [class^="iconsg-ai-w"]:hover, [class*="iconsg-ai-w"]:hover {background-image: url("../../images/iconsprites/appicon-sprite-teal.png?v=#version#");}

.png-AppIcon, .withMenu {
    border-bottom: 1px solid #52ADB5;
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #52ADB5;
    border-top: 1px solid #52ADB5;
	height: 25px;
    padding: 0;
    position: absolute;
    right: -29px;
    top: 2px;
    width: 29px;
    z-index: 0;
    background-color: transparent;
	background-position: 0 0;
    background-repeat: no-repeat;
	background-size: 200px 199px;
}


/* for select2 robust widget:  
	<i class="solution-AppIcon-Active sgaiTestPlan"></i> 
	OR 
	<i class="solution-AppIcon-Inactive sgaiTestPlan"></i>  
*/

.solution-AppIcon-Active, .solution-AppIcon-Inactive, .solution-AppIcon-Selected {
	display: inline-block;
	cursor: pointer;
	width: 25px;
	height: 25px;
    background-color: transparent;
	background-position: 0 0;
    background-repeat: no-repeat;
	background-size: 200px 199px;
}

.select2-highlighted .solution-AppIcon-Active {background-image: url("../../images/iconsprites/appicon-sprite-white.png?v=#version#");}
.solution-AppIcon-Active {background-image: url("../../images/iconsprites/appicon-sprite-black.png?v=#version#");}
.solution-AppIcon-Highlighted {background-image: url("../../images/iconsprites/appicon-sprite-white.png?v=#version#");}
.solution-AppIcon-Inactive {background-image: url("../../images/iconsprites/appicon-sprite-grey.png?v=#version#");}
.solution-AppIcon-Selected {background-image: url("../../images/iconsprites/appicon-sprite-teal.png?v=#version#");}

/* app icon positioning for .png-AppIcon and .solution-AppIcon-Active, .solution-AppIcon-Inactive  */
/* row 1 */				
[class*="-sgaiHome"] {background-position: -6px -10px;}	
[class*="-sgaiUserManage"] {background-position: -45px -10px;}	
[class*="-sgaiCustomerManage"] {background-position: -84px -10px;}		
[class*="-sgaiConfigure"] {background-position: -125px -10px;}		
[class*="-sgaiTestPlan"] {background-position: -164px -10px;}

/* row 2 */		
[class*="-sgaiR2C-SR"] {background-position: -6px -48px;}
[class*="-sgaiR2C-SRM"] {background-position: -45px -48px;}
[class*="-sgaiTicketing"] {background-position: -84px -48px;}
[class*="-sgaiSolutions"] {background-position: -125px -48px;}
[class*="-sgaiSiteAccess"] {background-position: -164px -48px;}	

.VideoDrawer-LocationRight {z-index:100;background-color: rgba(0,0,0,0.80); padding: 5px; position: fixed; top: 0px; right: 0px; width: 350px; height: 100%; overflow: hidden; display: block;}


i {float:left;}
i.noFloat {float:none;}
/* i:hover {opacity:0.65;} */

.btn [class^="iconsg-"], .btn [class*="iconsg-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

				
/* ---------- PORTAL WORK Icons ---------- */

[class^="iconsg-b"], [class*="iconsg-b"], [class^="iconsg-g"], [class*="iconsg-g"], [class^="iconsg-w"], [class*="iconsg-w"], [class^="iconsg-t"], [class*="iconsg-t"] {
	display: inline-block;
	/* cursor: pointer; */
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;	
	background-size: 509px 993px;
	line-height: 15px;			
}

[class^="iconsg-b"], [class*="iconsg-b"] {background-image: url("../../images/iconsprites/sungardicons-black.png?v=#version#");}
[class^="iconsg-w"], [class*="iconsg-w"] {background-image: url("../../images/iconsprites/sungardicons-white.png?v=#version#");}
[class^="iconsg-g"], [class*="iconsg-g"] {background-image: url("../../images/iconsprites/sungardicons-grey.png?v=#version#");}
[class^="iconsg-t"], [class*="iconsg-t"] {background-image: url("../../images/iconsprites/sungardicons-teal.png?v=#version#");}

.select2-highlighted [class^="iconsg-b"], .select2-highlighted [class*="iconsg-b"] {background-image: url("../../images/iconsprites/sungardicons-white.png?v=#version#");}

a:hover [class^="iconsg-b"], a:hover [class*="iconsg-b"], a:hover [class^="iconsg-w"], a:hover [class*="iconsg-w"], button:hover [class^="iconsg-b"], button:hover [class*="iconsg-b"], button:hover [class^="iconsg-w"], button:hover [class*="iconsg-w"],
.clickable-icon:hover [class^="iconsg-b"], .clickable-icon:hover [class*="iconsg-b"],
.clickable-icon:hover [class^="iconsg-w"], .clickable-icon:hover [class*="iconsg-w"] {opacity:0.5;}

a:hover [class^="iconsg-t"], a:hover [class*="iconsg-t"], button:hover [class^="iconsg-t"], button:hover [class*="iconsg-t"]
{background-image: url("../../images/iconsprites/sungardicons-black.png?v=#version#");}

				
/* row 1 */				
[class*="-sgNewDoc"] {background-position: -16px -18px;}	
[class*="-sgDuplicateDoc"] {background-position: -66px -18px;}	
[class*="-sgDocAdd"] {background-position: -116px -18px;}		
[class*="-sgRemoveDoc"] {background-position: -166px -18px;}	
[class*="-sgReviseDoc"] {background-position: -216px -18px;}		
[class*="-sgUploadDoc"] {background-position: -266px -18px;}		
[class*="-sgDownloadDoc"] {background-position: -316px -18px;}
[class*="-sgSubmitDoc"] {background-position: -366px -18px;}		
[class*="-sgApproveDoc"] {background-position: -415px -18px;}		
[class*="-sgLockDoc"] {background-position: -466px -18px;}		

/* row 2 */	
[class*="-sgArchive"] {background-position: -17px -69px;}		
[class*="-sgDocument"] {background-position: -67px -69px;}		
[class*="-sgPhoto"] {background-position: -117px -69px;}	
[class*="-sgChart"] {background-position: -167px -69px;}			
[class*="-sgFolder"] {background-position: -217px -69px;}		
[class*="-sgAnotherFolder"] {background-position: -267px -69px;}	
[class*="-sgSubtractFolder"] {background-position: -317px -69px;}	
[class*="-sgAdd"] {background-position: -367px -69px;}	
[class*="-sgTrash"] {background-position: -417px -69px;}		
[class*="-sgRefresh"] {background-position: -467px -69px;}	

/* row 3 */	
[class*="-sgAttach"] {background-position: -17px -121px;}		
[class*="-sgWatch"] {background-position: -67px -121px;}		
[class*="-sgStack"] {background-position: -117px -121px;}		
[class*="-sgTime"] {background-position: -167px -121px;}			
[class*="-sgDate"] {background-position: -217px -121px;}		
[class*="-sgRequest"] {background-position: -267px -120px;}			
[class*="-sgInactive"] {background-position: -317px -120px;}		
[class*="-sgActive"] {background-position: -367px -120px;}			
[class*="-sgUnfavorite"] {background-position: -417px -121px;}			
[class*="-sgFavorite"] {background-position: -467px -121px;}	

/* row 4 */	
[class*="-sgUser"] {background-position: -17px -170px;}		
[class*="-sgContacts"] {background-position: -67px -170px;}					
[class*="-sgZoomIn"] {background-position: -117px -170px;}		
[class*="-sgZoomOut"] {background-position: -167px -170px;}			
[class*="-sgSearch"] {background-position: -217px -170px;}	
[class*="-sgDashboard"] {background-position: -267px -170px;}	
[class*="-sgDisplayTileSingle"] {background-position: -317px -170px;}	
[class*="-sgDisplayTileBlock"] {background-position: -367px -170px;}	
[class*="-sgDisplayList"] {background-position: -417px -170px;}	
[class*="-sgDisplayTopology"] {background-position: -467px -170px;}		

/* row 7 */	
[class*="-sgEllipsis"] {background-position: -17px -222px;}		
[class*="-sgError"] {background-position: -74px -229px;}		
[class*="-sgLocked"] {background-position: -117px -222px;}			
[class*="-sgUnlocked"] {background-position: -167px -222px;}		
[class*="-sgIconHomeSmall"] {background-position: -217px -222px;}
[class*="-sgIconR2CSmall"] {background-position: -265px -222px; width: 28px;}
[class*="-sgIconTestPlanSmall"] {background-position: -317px -222px;}
[class*="-sgIconCCRSmall"] {background-position: -367px -222px;}
[class*="-sgIconUserManageSmall"] {background-position: -416px -222px;}
[class*="-sgIconCustomerManageSmall"] {background-position: -466px -222px;}

/* row 6 */	
[class*="-sgColorNetwork"] {background-position: -16px -274px;}
[class*="-sgColorMisc"] {background-position: -66px -274px;}
[class*="-sgColorServer"] {background-position: -116px -274px;}
[class*="-sgColorStorage"] {background-position: -166px -274px;}
[class*="-sgColorPrinter"] {background-position: -216px -274px;}
[class*="-sgColorTapedevice"] {background-position: -266px -274px;}
[class*="-sgAlphabetical"] {background-position: -317px -276px;}
[class*="-sgNumerical"] {background-position: -367px -276px;}
[class*="-sgAll"] {background-position: -417px -276px;}
[class*="-sgDrawerTrigger"] {background-position: -467px -274px;}

/* row 7 */	
[class*="-sgFilter"] {background-position: -17px -328px;}
[class*="-sgEdit"] {background-position: -67px -328px;}
[class*="-sgBookmark"] {background-position: -118px -328px;}
[class*="-sgProfile"] {background-position: -167px -328px;}
[class*="-sgTeam"] {background-position: -217px -328px;}
[class*="-sgMap"] {background-position: -267px -329px;}
[class*="-sgReserve"] {background-position: -317px -329px;}
[class*="-sgLocate"] {background-position: -367px -329px;}
[class*="-sgContent"] {background-position: -417px -328px;}
[class*="-sgTutorials"] {background-position: -467px -328px;}

/* row 8 */	
[class*="-sgIconMisc"] {background-position: -17px -379px;}
[class*="-sgIconPrinter"] {background-position: -67px -378px;}
[class*="-sgIconNetwork"] {background-position: -117px -379px;}
[class*="-sgIconServer"] {background-position: -167px -379px;}
[class*="-sgIconStorage"] {background-position: -217px -379px;}
[class*="-sgIconTapedevice"] {background-position: -267px -379px;}
[class*="-sgShared"] {background-position: -317px -379px;}
[class*="-sgIconApprove"] {background-position: -367px -379px;}
[class*="-sgIconPartial"] {background-position: -417px -379px;}
[class*="-sgIconError"] {background-position: -467px -379px;}

/* row 9 */	
[class*="-sgDropDown"] {background-position: -17px -434px;}
[class*="-sgDropUp"] {background-position: -67px -434px;}
[class*="-sgClose"] {background-position: -116px -430px;}
[class*="-sgSave"] {background-position: -167px -430px;}
[class*="-sgArrowLeft"] {background-position: -217px -430px;}
[class*="-sgArrowRight"] {background-position: -267px -430px;}
[class*="-sgAddSmall"] {background-position: -323px -435px;}
[class*="-sgRemoveSmall"] {background-position: -373px -433px;}
[class*="-sgTooltipSmallOff"] {background-position: -422px -434px;}
[class*="-sgSendEmail"] {background-position: -466px -430px;}

/* row 10 */	
[class*="-sgSeeInfo"] {background-position: -17px -480px;}
[class*="-sgAllUsers"] {background-position: -67px -480px;}
[class*="-sgCompanyBldg"] {background-position: -116px -480px;}
[class*="-sgIconServerVirtual"] {background-position: -167px -480px;}
[class*="-sgIconBandwidth"] {background-position: -217px -478px;}
[class*="-sgDuration"] {background-position: -267px -480px;}
[class*="-sgGrowSmall"] {background-position: -317px -480px;}
[class*="-sgShrinkSmall"] {background-position: -367px -480px;}
[class*="-sgQuickLinkBack"] {background-position: -423px -487px;}
[class*="-sgQuickLinkNext"] {background-position: -473px -487px;}

/* row 11 */	
[class*="-sgOpenInfo"] {background-position: -17px -533px;}
[class*="-sgFullview"] {background-position: -67px -533px;}
[class*="-sgAlerts"] {background-position: -117px -533px;}
[class*="-sgPopOut"] {background-position: -167px -533px;}
[class*="-sgPopIn"] {background-position: -217px -533px;}
[class*="-sgTooltipSmallOn"] {background-position: -272px -536px;}
[class*="-sgIconHeatMap"] {background-position: -317px -533px;}
[class*="-sgIconHealth"] {background-position: -367px -533px;}
[class*="-sgIconEvents"] {background-position: -417px -533px;}
[class*="-sgIconCharts"] {background-position: -467px -533px;}

/* row 12 */	
[class*="-sgIconReplicate"] {background-position: -17px -585px;}
[class*="-sgIconUtilize"] {background-position: -67px -585px;}
[class*="-sgIconRecovery"] {background-position: -116px -585px; width:28px;}
[class*="-sgIconAvailable"] {background-position: -167px -586px;}
[class*="-sgIconProtected"] {background-position: -217px -586px;}
[class*="-sgStatusWeak"] {background-position: -267px -580px;}
[class*="-sgStatusPoor"] {background-position: -317px -580px;}
[class*="-sgStatusFail"] {background-position: -367px -580px;}
[class*="-sgIconTicket"] {background-position: -417px -586px;}
[class*="-sgSyringe"] {background-position: -467px -586px;}

/* row 12 */	
[class*="-sgWrench"] {background-position: -17px -639px;}
[class*="-sgAttention"] {background-position: -67px -639px;}
[class*="-sgFilterSmall"] {background-position: -121px -643px;}
[class*="-sgEditSmall"] {background-position: -171px -643px;}
[class*="-sgConfigure"] {background-position: -217px -637px;}
[class*="-sgR2CSmall"] {background-position: -267px -637px;}
[class*="-sgFiltersActive"] {background-position: -317px -637px;}
[class*="-sgIconDatabase"] {background-position: -365px -637px;}
[class*="-sgIconVolume"] {background-position: -415px -637px;}
[class*="-sgIconMainframe"] {background-position: -465px -637px;}

/* row 13 */	
[class*="-sgIconRouter"] {background-position: -17px -688px;}
[class*="-sgIconSwitch"] {background-position: -67px -691px;}
[class*="-sgIconExternalStorage"] {background-position: -116px -689px;}
[class*="-sgIconDASD"] {background-position: -166px -689px;}
[class*="-sgIconTapeLibrary"] {background-position: -216px -688px;}
[class*="-sgIconX86"] {background-position: -266px -690px;}
[class*="-sgIconiSeries"] {background-position: -316px -690px;}
[class*="-sgIconpSeries"] {background-position: -366px -690px;}
[class*="-sgIconSun"] {background-position: -416px -690px;}
[class*="-sgIconHP"] {background-position: -466px -690px;}

/* row 14 */	
[class*="-sgStop"] {background-position: -18px -743px;}
[class*="-sgPause"] {background-position: -67px -743px;}
[class*="-sgPlay"] {background-position: -118px -743px;}
[class*="-sgDisplayView"] {background-position: -167px -743px;}
[class*="-sgIconAutomate"] {background-position: -217px -743px;}
[class*="-sgTagging"] {background-position: -267px -743px;}
[class*="-sgBackView"] {background-position: -318px -741px;}
[class*="-sgNextView"] {background-position: -367px -741px;}
[class*="-sgSquareBandwidthIn"] {background-position: -422px -748px;}
[class*="-sgSquareBandwidthOut"] {background-position: -471px -748px;}

/* row 15 */	
[class*="-sgSquareServers"] {background-position: -22px -801px;}
[class*="-sgCircleVolumes"] {background-position: -73px -801px;}
[class*="-sgSquareHealthy"] {background-position: -122px -801px;}
[class*="-sgSquareWeak"] {background-position: -173px -801px;}
[class*="-sgSquarePoor"] {background-position: -222px -801px;}
[class*="-sgSquareInitialSync"] {background-position: -273px -801px;}
[class*="-sgColorBlockHeatlhy"] {background-position: -318px -797px;}
[class*="-sgColorBlockWeak"] {background-position: -367px -797px;}
[class*="-sgColorBlockPoor"] {background-position: -417px -797px;}
[class*="-sgColorBlockInitialSync"] {background-position: -467px -797px;}

/* row 16 */	
[class*="-sgColorBlockAssets"] {background-position: -17px -850px;}
[class*="-sgSquarePersisted"] {background-position: -73px -854px;}
/* [class*="-sgPlay"] {background-position: -116px -742px;}
[class*="-sgDisplayView"] {background-position: -167px -742px;}
[class*="-sgIconTapeLibrary"] {background-position: -217px -743px;}
[class*="-sgIconX86"] {background-position: -267px -743px;}
[class*="-sgIconiSeries"] {background-position: -317px -743px;}
[class*="-sgIconpSeries"] {background-position: -365px -743px;}
[class*="-sgIconSun"] {background-position: -415px -743px;}
[class*="-sgIconHP"] {background-position: -465px -743px;} */

[class*="-sgError"],  
[class*="-sgAddSmall"],
[class*="-sgQuickLinkBack"],
[class*="-sgQuickLinkNext"] {height: 12px; width: 12px;}

[class*="-sgTooltipSmall"],
[class*="-sgRemoveSmall"] {height: 16px; width: 14px;}

[class*="-sgFilterSmall"],
[class*="-sgEditSmall"] {height: 14px; width: 16px;}

[class*="-sgSquareBandwidthIn"],
[class*="-sgSquareBandwidthOut"],
[class*="-sgSquareServers"],
[class*="-sgCircleVolumes"],
[class*="-sgSquareHealthy"],
[class*="-sgSquareWeak"],
[class*="-sgSquarePoor"],
[class*="-sgSquareInitialSync"], 
[class*="-sgSquarePersisted"] {height: 14px; width: 14px;}

.launchpad-headline, .dashboards-headline, .marketing-headline {
	font-size: 2.2em;
    letter-spacing: -0.03em;
    line-height: 1em;
    margin-bottom: 10px;
}	
	
.launchpad, .launchpad:hover, .launchpad:active {
	background-image: url("../../images/iconsprites/launchapps-icon-sprites.png?v=#version#");
	background-repeat: no-repeat;
	background-size: 764px 550px;
	background-color: transparent;
	height: 60px;
    width: 60px;
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 4px;
    vertical-align: middle;
}
	
.launchpad:hover {
	background-color: rgba(0, 0, 0, 0.10);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset, 0 2px 4px rgba(0, 0, 0, 0.05);
}
	
.launchpad:active {
	background-color: rgba(0, 0, 0, 0.20);
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2) inset, 0 4px 6px rgba(0, 0, 0, 0.05);
}
	
/* .launchpad-viewPoint {background-position: -42px -27px;}
.launchpad-ticketing {background-position: -86px -27px;}
.launchpad-itr {background-position: -86px -120px;} */
.launchpad-ccr {background-position: -42px -120px;}
.launchpad-docRepository {background-position: -341px -27px;}
.launchpad-userManage {background-position: -492px -27px;}
.launchpad-customerManage {background-position: -643px -27px;}
.launchpad-testPlanning {background-position: -341px -120px;}
.launchpad-disaster {background-position: -488px -120px;}
.launchpad-mapping {background-position: -644px -120px;}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								Page VIEW Styling     				           */
/* /////////////////////////////////////////////////////////////////////////// */


.portlet-instruction-margin {margin:25px 0 0 12px; /* was margin:0px 0px 0px 20px; */}
.portlet-instruction-text {color:#575757;line-height: 9px;}
.title-Customer {font-size:1.2em;letter-spacing: -0.02em;margin-right:20px;}
.title-App {
	background-color: #52ADB5;
	box-shadow:-5px -5px 10px rgba(0, 0, 0, 0.25) inset;
    color: #FFFFFF;
    font-size: 0.65em;
    margin: 2px 0 0 0;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
}

.LeftSide, .RightSide {background-color:#fff; }
.LeftSide {padding-right: 2px;}
.RightSide {padding-left: 2px;}

.myTabContent {
	margin:0 5px; /* was margin:0 0 0 30px;  */
	/* padding: 0 5px; */
	background-color:#fff; 
	/* border-radius:10px;
	border: 1px solid #D6D6D6; */
	/* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30); */
}

.myTabContent-expanded {
	margin:10px 0 0 0; /* was margin:0 0 0 30px;  */
	/* background-color: #FFFFFF;
    border: 1px solid #D6D6D6; */
    border-radius: 0px 0px 10px 10px;
    padding: 0 5px 5px 5px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								Modal VIEW Styling     				           */
/* /////////////////////////////////////////////////////////////////////////// */

.view {
	overflow:hidden;
	border-radius:10px 10px 0px 0px;
}

.discovery-view, .video-view {left: 5%;}
.discovery-view {height: auto;}
.data-view, .document-view {left:25%; right:25%;}

.pointer {
	border-bottom: 12px solid #52ADB5;
   	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.pointer {top: -12px;}

.contact-pointer, 
.profile-pointer, 
.company-pointer,
.request-pointer {position: fixed;}

.contact-pointer {left: 206px;}
.profile-pointer {left: 231px;}
.company-pointer {left: 250px;}
.request-pointer {left: 250px;}

.expandedPanel-pointer {
	border-bottom: 14px solid #FFFFFF;
	border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    position: fixed;
	/*left: 22%;
    top: 65px; */
    z-index: 90;
}
	
.tab-pointer {
	position:relative;
	left:200px;
/* background-color: #CCCCCC;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 6px 4px -4px rgba(0, 0, 0, 0.4) inset;
    height: 15px;
    left: 150px;
    position: relative;
    top: -32px;
    width: 26px;*/
	} 
.tab-pointer-bottom {position:absolute;top:-46px; border-right:25px solid transparent;border-left:25px solid transparent; border-bottom: 25px solid #b8b8b8;}
.tab-pointer-top {position:absolute;top:-35px; border-right:25px solid transparent;border-left:25px solid transparent; border-bottom: 25px solid #fff;}
				 

.grid-header {
	font-size:0.85em; 
	background-color:#52ADB5; 
	padding:5px;
	color:#fff;
	text-align:center;
}
		
.grid-header, .grid-odd, .grid-even {
	border-radius:5px; 
	padding: 5px; 
}
.grid-odd, .grid-even {font-size:85%; padding: 5px; margin: 5px; }
.grid-even {background-color:#D7E9EB;}

.profile-content {margin: 10px 0;}
.profile-title {font-size:75%;padding-top:4px;}
			
.heightRestrict {height: 100%; overflow-y:scroll; overflow-x:hidden;}		
.fontList-Contacts {font-size:0.9em;text-transform:lowercase;}

.clickable-icon {cursor:pointer; float: left;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								TP MODAL Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

.createModal-AppTab {font-size:85%; padding: 5px;}
.testplan-title {font-size:75%;padding-top:4px;padding-left: 5px;}
.AppTab-InnerContent {margin:10px 15px;}
.AppTab-InnerContent a:link {color:#52ADB5;}
.AppTab-InnerContent a:hover {color:#333;font-style: normal;}
.AppTab-InnerContent a.error {color:red;}

.tabOne-LeftDetails {position: absolute; top: 0px; /*left:0px; bottom: 0px;*/ width: 290px;}
.tabOne-RightDetails {position: absolute; top: 0px; left:300px; bottom: 0px;}

.confirm-PageMargin {margin: 0 5%;}
.confirm-LeftWidth {width:75%;}
.confirm-ObjectivesBox {overflow-y: scroll; font-size: 80%; height: 115px; border-bottom: 1px solid #E0E0E0; background-color:#F1F1F1; padding:0 10px;}
.confirm-service-item {padding:0px 10px 0 10px; font-size:82%; margin:0 10px 5px;}
.confirm-fauxAccordion {margin:0 6px; cursor:pointer; padding: 6px 0 0 0;}

.platform-header {font-size:65%;color:#3F3E38; padding:3px 6px 2px 6px; border-radius:4px;}

.input-height {height:200px;}

.customerName-Background {background-color: rgba(57,57,57,0.5); border-radius: 8px 8px 0 0;}

/* TILES */
/* TILES-Setup */

.tile-single, .tile-block, .tile-column {
    font-family: "../webfont/avenir_45_bookregular", sans-serif !important;
	border-radius:6px; 
	margin:0 5px 5px 0; 
	padding: 4px;
	box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
    border-style: solid;
    border-width: 1px;
}

.tile-single, .tile-block {
	display:inline-block;
	padding-right:4px; 
}

.tile-column {display:block;}

.tile-single ul li, .tile-block ul li, .tile-block-column ul li {list-style:none !important; list-style-type:none !important; }

.tile-grid {
  font-family: "../webfont/avenir_45_bookregular", sans-serif !important;
	display: inline-table; 
  	overflow-x: scroll;
  	background-color: transparent;
}

.tile-grid-header {display: table-header-group;}
.tile-grid-row {display: table-row; border-radius: 6px 6px 6px 6px;padding:4px;}
.tile-grid-column {display: table-column;}

.tile-grid-row-header,
.tile-grid-row-cell {
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: table-cell;
    vertical-align: middle;
}

.tile-grid-row-header {text-align: center; padding: 6px;}
.tile-grid-row-cell {text-align: left; padding: 6px;}

.tile-grid-row-cell-icons,
.tile-grid-row-cell-icons-right {position:relative;font-size: 100%;}

.tile-grid-row-cell-icons {left:1%;}
.tile-grid-row-cell-icons-right {right:1%;}

.tile-map, .tile-reserve, .tile-map-cell {
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
	
}

.tile-map-cell, .tile-reserve-cell {
	border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px;
	/* padding:4px 0 4px 6px;
	height:23px; */
}

.tile-map-content-padding, .tile-reserve-content-padding { padding:8.5px; }

.tile-popover, .tile-status, .tile-application, .tile-asset, .tile-map, .tile-reserve, .tile-title, .tile-title-click {font-size: 90%;}
.tile-popover, .tile-status, .tile-application, .tile-asset, .tile-map, .tile-reserve, tile-data, .tile-data-txt-small { padding:3px;}
.tile-LineOne, .tile-title, .tile-title-click {margin-bottom:2px;}
.tile-title-click {cursor: pointer;}
.tile-title-click:hover {opacity:0.65;}
.tile-content {
	font-size: 82%;
	content: " " attr(data-label) " //"; /* call the attribute value of data-label and adds a string // */
}
/* .tile-status, .tile-application, .tile-asset {margin:4px 4px 4px 0;} */

.tile-popover {width:100%;}
.tile-status {width:22em;}
.tile-application {width:18em;}
.tile-asset {width:12em;}
.tile-line-b, .tile-line-g, .tile-line-w {margin: 4px 0;}
.tile-line-b {border-top:1px solid rgba(0, 0, 0, 0.25);}
.tile-line-g {border-top:1px solid rgba(224, 224, 224, 0.25);}
.tile-line-w {border-top:1px solid rgba(255, 255, 255, 0.25);}

.tile-data-txt-small, .txt-small {font-size: 75%;}
.tile-asset-txt {font-size: 85%; margin-left:5px; text-transform:uppercase;}

.application-expanded {
	border-radius: 6px 6px 6px 6px; 
	margin: 4px 0; 
	/* overflow: auto; */
    padding: 2px;
	border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.application-title {margin-left:4px; margin-right: 100px; font-size: 90%;}
.application-content, .tab-instructions, .tab-text {font-size: 82%;}
.tab-header-pane-text, .tab-text {
	color:#52ADB5; 
	text-transform: uppercase;
    color: #52ADB5;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}

.tab-text {
	border-right: 1px solid #333333;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		        	FIXED DASHBOARD Customer+App launched Styling                */
/* /////////////////////////////////////////////////////////////////////////// */

 #fixed-dashboard {
    position: fixed; 
    top: 40px;
    /* left: 0px; */
    width: 100%;
    z-index: 100;
    background-attachment: fixed;
    /* background-image: url("../../images/custom/global/pattern-eggshell.png?v=#version#"); */
	 background-color:#fff;
    background-position: 0px 0px;
    background-repeat: repeat;
	/* border-bottom: 1px solid #e2e2e2;
	display:inline; */
	float: left;
	padding-left: 185px; 
	padding-right: 5px;
	
  }
  
/* #fixed-dashboard div {display:inline; float: left;} */
 
#fixed-dashboard .table {margin-bottom: 0px;}


.customer-container {/* float: left; margin-right: 5px; */ position: relative; width: 180px; z-index: 200; float:left; margin-right:5px;}
.customer-container .customer-app {background-color:#52ADB5;padding:5px; color:#fff;border-radius:0;}
.customer-container .customer-app ul:first {float:left; margin-right:3px;}
.customer-container .customer-app ul li {line-height:12px;}
.customer-container .customer-app ul li.customer-app-icon {margin:2px 5px 0 2px;}

.customer-container .customer-info {border-radius:0; padding:5px; color:#00474F; background-color:#85E0E8;}
.customer-container .customer-info ul.customer-name  {width:50%; float:left; display:inline;}
.customer-container .customer-info ul.customer-name li {line-height:10px; font-size: 75%;}
.customer-container .customer-info ul.customer-nav {display:inline; float:right;}
.customer-container .customer-info ul.customer-nav li {display:inline;}
.customer-container .customer-info ul.customer-nav li a {float:left; margin-right:3px;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		                    SLIDER Styling for Charts 		                      */
/* /////////////////////////////////////////////////////////////////////////// */


.chart-slider {
  height: 4px !important;
  width: 20%;
  float: right;
}

.chart-slider .ui-slider-handle {
  top: -.3em !important;
  width: .7em !important;
  height: .7em !important;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								R2C Page Styling      				              */
/* /////////////////////////////////////////////////////////////////////////// */

#static-row, #r2c-nav {margin-top: 40px; margin-left: 5px;}
#static-row {position: relative;}
#r2c-nav {position: fixed; z-index: 300;}

#column-labels {visibility: hidden;}

.r2c-summary-container {width: 100px;float: left;} 
.r2c-summary-container .status-title span {color:#575757; font-size:55%; text-transform:uppercase;}
.r2c-summary-container .background-bar {border-radius: 5px;text-align:center;}
.r2c-summary-container .status-name-number ul li {display:block; margin:4px 0;}
.r2c-summary-container .status-name-number ul li.name { font-size:110%; padding-top:4px;}
.r2c-summary-container .status-name-number ul li.number { font-size:85%; padding-bottom:4px;}

.r2c-pill-total-assets {margin-left:5px; float:left;}
.r2c-pill-total-assets .asset-title span {color:#575757; font-size:55%; text-transform:uppercase;}
.r2c-pill-total-assets .background-bar {margin-bottom:4px;}
.r2c-pill-total-assets .asset-name-number ul li {float:left; display:inline;}
.r2c-pill-total-assets .asset-name-number ul li.name {width:auto;border-radius:5px 0 0 5px;padding:3px;}
.r2c-pill-total-assets .asset-name-number ul li.number {width:50px;border-radius:0 5px 5px 0;padding:3px 0px 3px 0px; text-align:center;}
.asset-status {width: 168px; /*was width: 84px;*/}
.asset-status .asset-status-name-number ul li div {float:left; display:inline; width:42px;padding:5px 0px 1px 0px;text-align:center;}

.r2c-pill-total-filters .pill-numbers label.btn.active, .r2c-pill-total-filters .pill-numbers label.btn:active {
	background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.02);
    color: #FFFFFF;
    outline: 0 none;
}

.r2c-filter-launch, .alerts-container, .events-container, .ticketing-container {
	width:40px;
	text-align:center; 
	float:left; 
	display:block;
	height: 75px;
    line-height: 12px;
    padding-top: 5px;
	margin:0 1px;
}
.r2c-filter-launch {margin: 0 0 0 7px;background-color:#c7daf8;color:#00355F;}
.alerts-container, .events-container, .ticketing-container { border:1px #575757 solid;color:#333;}
/* .alerts-container {background-color:#FFCCFF; color:#800038;}
.events-container {background-color:#C8F6E7; color:#164435;}
.ticketing-container {margin-left:0; background-color:#FFC3A6; color:#6D1100;}*/ 

.r2c-filter-launch ul li, .alerts-container ul li, .events-container ul li, .ticketing-container ul li {font-size:55%;	text-transform:uppercase;}
.r2c-filter-launch ul li a, .alerts-container ul li a, .events-container ul li a, .ticketing-container ul li a {padding-bottom:3px;}
.r2c-filter-launch ul li.clearall span, .alerts-container ul li.clearall span, .events-container ul li.clearall span, .ticketing-container ul li.clearall span {line-height:8px; padding-bottom:5px;}


.r2c-filter-container {
	background-color: #FFFFFF;
    border: 3px solid #c7daf8;
    height: 115px;
    left: 608px; /*was left: 524px;*/
    padding: 5px 5px 0;
    position: fixed;
    top: 0;
    width: 286px;
    z-index: 200;
}
.r2c-filter-container ul li {margin-bottom:3px;}
.r2c-filter-close { position:absolute; right:-20px;top:-6px;background-color:#c7daf8;width:20px; height:20px;}
.r2c-filter-close .iconsg-b-sgClose {position:relative; top: -1px; left:-2px;}

.filter-by-date ul li {display:inline; float:left;}
.filter-by-date ul li div {padding:0 6.58px;}
.filter-by-color ul {margin-right:4px;}
.filter-by-color ul li {display:inline; float:left;}
.filter-by-color ul li div {padding:0 3px;}
.filter-by-show ul li {display:inline; float:left;}
.filter-by-show ul li div {padding:0 3px;}

.r2c-narrative-container {padding:15px 20px 0 20px;font-size:80%; text-overflow:ellipsis; text-align:left;overflow:hidden; color:#575757; float:left; width:40%;}
.r2c-narrative-container .title {color:#575757;font-size: 55%;text-transform: uppercase; text-overflow:ellipsis;}

.r2c-page-nav {width:32px;}

.r2c-dashboard-container {/* height: 400px; */padding:5px 0 0 0;}
.r2c-instructions { font-size:60%; text-transform: uppercase; float: left; width: 530px; color:#575757;}

.r2c-size-by-rpo .name, .r2c-size-by-diskspace .name {font-size:55%;text-transform:uppercase; color:#575757; display:none;}
.r2c-size-by-rpo, .r2c-size-by-diskspace {padding-left: 5px;}
/* .r2c-size-by-rpo {width:90px;}
.r2c-size-by-diskspace {width:120px;} */
.r2c-size-by-rpo .largebox, .r2c-size-by-rpo .largecircle {width:30px; height:30px;}
.r2c-size-by-rpo .mediumbox, .r2c-size-by-diskspace .mediumcircle {width:25px; height:25px;}
.r2c-size-by-rpo .smallbox, .r2c-size-by-diskspace .smallcircle {width:15px; height:15px;}
.r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {width:10px; height:10px;}
.r2c-size-by-rpo .largebox, .mediumbox, .smallbox, .r2c-size-by-diskspace .largecircle, .r2c-size-by-diskspace .mediumcircle, .r2c-size-by-diskspace .smallcircle, .r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {border:1px solid #575757;}
.r2c-size-by-diskspace .largecircle, .r2c-size-by-diskspace .mediumcircle, .r2c-size-by-diskspace .smallcircle {border-radius:24px;}

.r2c-size-by-rpo .largebox, .r2c-size-by-diskspace .largecircle, .r2c-size-by-rpo .mediumbox, .r2c-size-by-diskspace  .mediumcircle, .r2c-size-by-rpo .smallbox, .r2c-size-by-diskspace .smallcircle, .r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {position: relative;}
.r2c-size-by-rpo .largebox, .r2c-size-by-diskspace .largecircle {left: 0; top: 0; padding:24px;}
.r2c-size-by-rpo .mediumbox, .r2c-size-by-diskspace .mediumcircle {left: 8px; top: 12px; padding:16px;}
.r2c-size-by-rpo .smallbox, .r2c-size-by-diskspace .smallcircle {left: 16px; top: -10px; padding:8px;}
.r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {left: 20px; top: -24px; padding:2px;}
.r2c-size-by-diskspace .tinycircle {border-radius:10px;}
	
.r2c-filter-by-day ul li {border: 2px solid #C4C4C4; margin: 0 -2px 0 0;}
.r2c-filter-by-day ul li:hover {opacity:0.5;}
.r2c-filter-by-day ul li:active {border: 2px solid #519899; background-color:#519899;color:#fff;}


.r2c-color-circle-legend {padding:6px 0 0 0;}
.r2c-color-circle-legend ul li span {display:none; font-size:50%; text-transform:uppercase;}
.r2c-color-circle-legend ul li div {margin-top:4px; border-radius:16px; width:10px; height:10px;}
.r2c-color-circle-legend ul li span div span {visibility:hidden;}

.r2c-action-icons {
	/* visibility:hidden; */ 
    display: block;
    float: left;
    width: 90px;
	}


.expandVolumePanel {
	background-attachment: fixed;
    background-image: url("../../images/custom/global/pattern-eggshell.png?v=#version#");
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 0 0 15px 15px;
    left: 0;
    margin: 0 1% 1%;
    overflow: auto;
    /* padding: 0 0 1%; */
    position: relative;
    top: 0;
}

@media (max-width: 767px) {

  .r2c-narrative-container, .r2c-action-icons, .r2c-filter-container {display:none;}
  #fixed-dashboard {width: 765px;}
  .r2c-filter-alert-events-tickets-actions-container {float:left;}
  

}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								INFO CARD Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

.infocard {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  position: absolute;
  min-width:400px;
  max-width:30%;
}

ul.quicklinks-setA li, ul.quicklinks-setB li {margin: 0 0 0 10px;}
ul.quicklinks-setA li {float: left;}
ul.quicklinks-setB li {float: right;}
.backtotop {margin-right:5px; border-right:1px solid #333; padding-right: 5px; }
.noMarginLeft {margin-left:0; }


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								GLOBAL Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

.goLeft {float:left;}
.goRight {float:right;}
.goMiddle {margin:0 5% 0 25%;}
.noFloat {float:none;}
.noWrapping {white-space:nowrap; }
.noBorder-Right {border-right:none;}
.bolderFont {font-family: '../webfont/avenir_65medium', sans-serif !important;}
.italicFont {font-style: italic !important;}
.ellipsis {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.redErrorDot {margin:2px 0 0 6px;}

/* .bottomLine-b, .bottomLine-g, .bottomLine-w {margin:4px 0 0 0;} */
.bottomLine-b {border-bottom:1px solid rgba(0, 0, 0, 0.25);}
.bottomLine-g {border-bottom:1px solid rgba(224, 224, 224, 0.25);}
.bottomLine-w {border-bottom:1px solid rgba(255, 255, 255, 0.25);}

/* .topLine-b, .topLine-g, .topLine-w {margin:5px 0 0 0; padding:5px 0 0 0;} */
.topLine-b {border-top:1px solid rgba(0, 0, 0, 0.25);}
.topLine-g {border-top:1px solid rgba(224, 224, 224, 0.25);}
.topLine-w {border-top:1px solid rgba(255, 255, 255, 0.25);}

.borderRight-w {border-right:1px solid rgba(255,255,255,0.25); padding-right:2px;}
.borderLeft-w {border-left:1px solid rgba(255,255,255,0.25); padding-left:2px;}
.zero {margin:0;}

.positionSlightBottom {position:relative; bottom:-3px;}
.positionBottom {position: relative; bottom: -5px;}
.positionDown {position:relative; top:7px;}
.positionDown-more {position:relative; top:11px;}
.positionUp {position:relative; top:-6px;}
.positionUp-more {position:relative; top:-12px;}

.font40, .font45, .font50, .font55, .font60, .font65 {text-transform:uppercase;}

.font40 {font-size:40%;}
.font45 {font-size:45%;}
.font50 {font-size:50%;}
.font55 {font-size:55%;}
.font60 {font-size:60%;}
.font65 {font-size:65%;}
.font70 {font-size:70%;}
.font75 {font-size:75%;}
.font80 {font-size:80%;}
.font85 {font-size:85%;}
.font90 {font-size:90%;}
.font95 {font-size:95%;}
.font100 {font-size:100%;}
.font105 {font-size:105%;}
.font110 {font-size:110%;}
.font115 {font-size:115%;}
.font120 {font-size:120%;}
.font125 {font-size:125%;}

.width90 {width:90px;}
.width100 {width:100px;}
.width140 {width:140px;}
.width200 {width:200px;}
.width250 {width:250px;}
.width265 {width:265px;}
.width300 {width:300px;}
.width350 {width:350px;}
.width400 {width:400px;}
.width410 {width:410px;}
.width440 {width:440px;}
.width450 {width:450px;}
.width500 {width:500px;}
.width600 {width:600px;}

.noMargin-Top {margin-top:0px;}
.noMargin-Right {margin-right:0px;}
.noMargin-Bottom {margin-bottom:0px;}
.noMargin-Left {margin-left:0px;}
.evenMoreMarginTopBottom {margin: 20px 0 5px 0;}
.moreMarginTopBottom {margin:5px 0; }
.moreMarginLeftRight {margin:0 10px;}
.moreMarginRight {margin-right: 10px;}
.moreMarginBottom {margin-bottom:10px;}
.moreMarginLeft {margin-left:10px; }
.moreMarginTop {margin-top:5px; }
.slightMarginTopBottom {margin-top:2px; margin-bottom:2px;}
.slightMarginTop {margin-top:2px; }
.slightMarginLeft {margin-left:2px; }
.slightMarginRight {margin-right:2px; }
.slightMarginBottom {margin-bottom:2px;}
.slightMarginLeftRight {margin:0 5px;}
.col-header-marginLeft {margin-left:40px;}

.morePaddingLeftRight {padding:0 10px;}
.morePaddingBottom {padding-bottom:10px;}
.slightPaddingBottom {padding-bottom:5px;}

.paddingTopBottom {padding:5px 0;}
.paddingLeftRight {padding:0 5px;}
.paddingLeft {padding-left:12px;}
.paddingRight {padding-right:12px;}
.paddingTop {padding-top: 5px;}
.morePaddingLeft {padding-left:8px; }
.slightPaddingLeft {padding-left:3px; }
.morePaddingRight {padding-right:8px; }
.slightPaddingRight {padding-right:3px; }

.paddingTop-Three {padding:3px 0 0 0;}
.padding-Five {padding:5px;}
.paddingTop-Five {padding:5px 0 0 0;}
.paddingTopBottom-Five {padding:5px 0;}
.paddingTop-Ten {padding:10px 0 0 0;}

.borderRadius-None {border-radius:0;}
.borderRadius-TopLeft {border-radius:5px 0 0 5px;}
.borderRadius-BottomRight {border-radius:0 5px 5px 0;}

.ghosting {opacity:0.4;}

.shadow-inner {
   -moz-box-shadow:    inset 0 0 10px rgba(57,57,57,0.25);
   -webkit-box-shadow: inset 0 0 10px rgba(57,57,57,0.25);
   box-shadow:         inset 0 0 10px rgba(57,57,57,0.25);
}
.shadow-bottom-lighter {
	-webkit-box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	   -moz-box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	        box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
}

.shadow-bottom-darker {
	-webkit-box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
	   -moz-box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
	        box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
}

.textAlign-Left {text-align:left;}
.textAlign-Center {text-align:center;}
.textAlign-Right {text-align:right;}

.circleIcon {border-radius:16px;width:10px; height:10px;}
.squareIcon {width:10px; height:10px;}



/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								FOOTER Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

#footer {
	clear: both;
    height: 100px;
    margin-top: -100px;
    position: relative;
}

#footer ul.copyright {
 	color: #333333;
	float: left;
	margin: 10px 45px 25px 0;
}

#footer ul.copyright li {
	display: inline;
	font-family: "../webfont/Avenir-Book", Tahoma, Geneva, sans-serif !important;
	font-size: 0.75em;
	text-transform: capitalize;
	float:left;
	border-right: 1px #303030 solid;
	margin: 0;
    padding: 2px 10px;
	color: #333333;
}

#footer ul.copyright li.noBorderRight {border-right: none;}

#footer ul.copyright li a:link {color: #575757;}
#footer ul.copyright li a:hover {color: #c4c4c4;}
#footer ul.copyright li a:active {color: #303030;}

#footer div.footerLogo {
	background-image: url("../../images/custom/global/footer_sungard_logo.png?v=#version#");
    background-position: 7px 2px;
    background-repeat: no-repeat;
    background-size: 210px 38px;
    height: 38px;
	margin-right:13px;
    width: 210px;
}

#footer-admin {
    position: absolute;
	bottom: 5%;
	width: 100%;
}

#footer-admin ul.copyright {
    padding: 2px 10px; 
}

#footer-admin ul.copyright li {
	font-family: "../webfont/Avenir-Book", Tahoma, Geneva, sans-serif !important;
	font-size: 0.65em;
	text-transform: capitalize;
	text-align: center;
	line-height: 18px;
	padding: 2px 0;
	border-top: thin solid rgba(255,255,255,0.25);
}

#footer-admin ul.copyright li a:link {color: #ffffff;}
#footer-admin ul.copyright li a:hover {color: #c4c4c4;}
#footer-admin ul.copyright li a:active {color: #303030;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 				SLICKSWITCH STYLING using the jQuery Slickswitch               */
/* /////////////////////////////////////////////////////////////////////////// */

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	cursor: pointer;
	background: url("../../images/slickswitch/switch.png?v=#version#") 0 0 no-repeat;
	margin: 0 9px;
	float: right;
}

.switch .ss-on {
	position: absolute;
	display: block;
	width: 30px;
	height: 17px;
	background: url("../../images/slickswitch/switch.png?v=#version#") -30px 0 no-repeat;
}

.switch .ss-slider {
	position: absolute;
	/* left: 0px; */
	width: 15px;
	height: 16px;
	/* margin: 0 1px; */
	background: url("../../images/slickswitch/switch.png?v=#version#") -60px 0 no-repeat;
}

.switch.icons {background-position: 0 -17px;}
.switch.icons .ss-on {background: url("../../images/slickswitch/switch.png?v=#version#") -30px -17px no-repeat;}

#ticket-container {
	font-size: 2em;
}
