/*
Pines Form 2.0

license: http://www.gnu.org/licenses/gpl.html
license: http://www.gnu.org/licenses/lgpl.html
license: http://www.mozilla.org/MPL/MPL-1.1.html
author: Hunter Perrin <hunter@sciactive.com>
copyright: SciActive.com
link: http://pinesframework.org/pform/
*/

/*
Pines Sub-Project Page Styling
Copyright (C) 2012 SciActive.com. All Rights Reserved.
*/

body .pf-form .pf-heading * {
	margin-top: .1em !important;
	margin-bottom: .1em !important;
}

.pf-form {
	display: inline;
}
.pf-form:after, .pf-form fieldset:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.pf-form .pf-clearing { /* For clearing BRs... */
	clear: both;
	height: 1px;
}
.pf-form fieldset {
	padding: 5.6px 10px 12px;
	border: 1px solid #CCC;
}
.pf-form fieldset.pf-group {
	display: block;
	clear: left;
	margin-bottom: 15px;
}
.pf-form .pf-element {
	float: left;
	clear: left;
	padding-bottom: 15px;
}
.pf-form .pf-heading, .pf-form .pf-element.pf-full-width {
	width: 100%;
}
.pf-form .pf-heading {
	border-bottom: 1px solid #CCC;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.pf-form .pf-element .pf-label, .pf-form .pf-element .pf-note {
	width: 230px; /* Width of labels. */
	float: left;
}
.pf-form.pf-labels-right .pf-label, .pf-form .pf-labels-right .pf-label, .pf-form .pf-labels-right.pf-label, .pf-form.pf-labels-right .pf-note, .pf-form .pf-labels-right .pf-note, .pf-form .pf-labels-right.pf-note {
	text-align: right;
}
.pf-form.pf-labels-left .pf-label, .pf-form .pf-labels-left .pf-label, .pf-form .pf-labels-left.pf-label, .pf-form.pf-labels-left .pf-note, .pf-form .pf-labels-left .pf-note, .pf-form .pf-labels-left.pf-note {
	text-align: left;
}
.pf-form .pf-element .pf-note {
	margin-top: .5em;
	clear: left;
	font-size: 70%;
	opacity: .8;
}
.pf-form .pf-element .pf-required {
	color: #f00;
}
.pf-form .pf-element .pf-group {
	margin-left: 230px; /* Same as width of labels. */
	display: block;
}
.pf-form .pf-element .pf-field, .pf-form .pf-buttons .pf-button {
	float: none;
	margin-left: 5px; /* Margin between inputs and labels. */
}
.pf-form .pf-element .pf-field.pf-full-width {
	display: block;
	margin-left: 235px; /* Width of labels + margin between inputs and labels. */
}
.pf-form .pf-buttons {
	clear: both;
	padding-bottom: 0;
	padding-left: 215px; /* Width of labels + margin to inputs - button spacing. */
}
.pf-form .pf-buttons.pf-centered {
	width: 100%;
	padding-left: 0;
	text-align: center;
}
.pf-form .pf-buttons .pf-button {
	margin-left: 20px; /* Button spacing. */
	margin-bottom: 10px;
}

.pf-form label input, .pf-form label textarea, .pf-form label select {
	display: inline;
}
.pf-form input, .pf-form textarea, .pf-form select, .pf-form .uneditable-input {
	display: inline;
	margin-bottom: 0;
	width: auto;
}
.pf-form label {
	display: inline;
	margin-bottom: 0;
}
.pf-form legend {
    line-height: normal;
    margin-bottom: 0;
    width: auto;
}
.pf-form .pf-element .pf-group {
	padding-right: 10px;
}
@media screen and (max-width: 768px) {
	.pf-form .pf-element .pf-group {
		padding-right: 15px;
	}
}

@media (max-width: 720px) {
	.pf-form .pf-element.pf-full-width .pf-full-width {
		padding-right: .2em; /* Keep padded inputs from pushing out of their box. */
	}
	.pf-form .pf-element .pf-label, .pf-form .pf-element .pf-note {
		float: none;
		width: auto;
		display: block;
		margin-bottom: .1em;
	}
	.pf-form .pf-element .pf-group {
		margin-left: 0;
		display: block;
	}
	.pf-form .pf-element .pf-field.pf-full-width {
		margin-left: 0;
	}
	.pf-form .pf-buttons {
		padding-left: 0;
	}
}

.page-banner {
	padding: 200px 0 170px;
	text-align: center;
	overflow: hidden;
}
.page-banner h1 {
	font-size: 70px;
	line-height: 65px;
}
.page-banner p {
	font-size: 30px;
	line-height: 48px;
}
.page-banner .btn-large {
	margin-top: 30px;
	font-size: 26px;
}
.page-banner .right-button {
	margin-left: 20px;
}
.page-points .row-fluid {
	margin-bottom: 30px;
}
#copyright {
	text-align: center;
	margin-top: 40px;
}
/* Mobile */
@media screen and (max-width: 768px) {
	.page-banner {
		padding: 30px 0 20px;
	}
	.page-banner h1 {
		font-size: 35px;
		line-height: 35px;
	}
	.page-banner p {
		font-size: 16px;
		line-height: 30px;
	}
	.page-banner .btn-large {
		font-size: 16px;
	}
	.page-banner .right-button {
		margin-left: 0;
	}
	.page-points .row-fluid {
		margin-bottom: 0;
	}
	#sections {
		padding: 0 .4em;
	}
	#sections .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	#fb-root {
		display: none; /* Facebook's code makes a horizontal scrollbar. Grr. */
	}
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 980px) {
	.page-banner {
		float: left;
		width: 20%;
		padding: 5px 0;
	}
	.page-banner h1 {
		font-size: 25px;
		line-height: 25px;
	}
	.page-banner p {
		font-size: 14px;
		line-height: 16px;
		margin-top: 10px;
	}
	.page-banner .btn-large {
		margin-top: 30px;
		font-size: 14px;
	}
	.page-banner .right-button {
		margin-left: 0;
	}
	.page-points {
		float: right;
		width: 80%;
	}
	.page-points .row-fluid {
		margin-bottom: 10px;
	}
	#sections {
		clear: both;
	}
}

/* Source View */
.ui-dialog.sourcecode {
	-webkit-box-shadow: 0px 6px 30px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 6px 30px rgba(50, 50, 50, 0.75);
	-o-box-shadow: 0px 6px 30px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 6px 30px rgba(50, 50, 50, 0.75);
}
pre.prettyprint {
	display: table;
	min-width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding: .4em;
}