<!doctype html>

<html ng-app="r2cAdmin">  
<head lang="en">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.9.2/lodash.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    
    <script src="http://code.angularjs.org/1.2.12/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.12/angular-resource.min.js"></script>
    <script src="main.js"></script>
    <script src="config.js"></script>

	<link href="stylesheets/css/sungard-standard.css" rel="stylesheet" type="text/css" media="all">
	<link href="stylesheets/css/sungard-gxt-all.css" rel="stylesheet" type="text/css" media="all">
	
	<link href="stylesheets/css/SunGardStyles/main-SunGardStyles.css" rel="stylesheet" type="text/css" media="all">	
	<link href="stylesheets/css/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" type="text/css" media="all">
	<link href="stylesheets/css/bootstrap-pnotify/bootstrap-pnotify.css" rel="stylesheet" type="text/css" media="all">
	
</head>
<body ng-controller="CustomerController">

	<div id="r2c-main">
        <div class="sg-color-flesh moreMarginBottom">
  				<div class="row"> 
            <div class="slightPaddingLeft clearfix">
                <i class="slightMarginTop iconsg-t-sgIconHealth"></i>
                <span class="colorTeal positionDown slightPaddingLeft">
                  <span style="font-weight:bolder;" class="font75">Customer Health LIST </span>
                  <span class="font55">as of</span>
                  <span id="tabel-date" class="font65">{{ curDate }}</span>
                </span>     
                <div class="goRight">
                	<!-- ng-click="csvDownloadClick()" -->
                  <button ng-click="csvDownloadClick()" class="btn btn-xs goRight"><i class="iconsg-b-sgArchiveDoc"></i></button>
                </div>                                                    
            </div>
          </div>
<!-- 		</div> -->

				<div class="row">
					<div class="tablelist fade in">
						<div class="table" data-r2c-host-table>
							<div class="table-head sg-color-silver">
								<div class="table-column table-column-width-extra-small textAlign-Center" data-label="CustomerNo" style="width: 1%;">
									No.
								</div>
								<div class="table-column table-column-width-small textAlign-Center" data-label="Oracle ID">
									<a href="" ng-click="predicate = 'oracleId'; reverse=!reverse">Oracle ID</a>
								</div>
								<div class="table-column table-column-width-small textAlign-Left" data-label="Rx ID">
									Rx ID
								</div>
								<div class="table-column table-column-width-large textAlign-left" data-label="Customer Name">
									<a href="" ng-click="predicate = 'name'; reverse=!reverse">Customer Name</a>
								</div>
								<div class="table-column table-column-width-medium textAlign-Center" data-label="Number Of Protected Servers"  style="width: 5%;">
									<a href="" ng-click="predicate = 'numberOfProtectedServers'; reverse=!reverse">Number Of Protected Servers</a>
								</div>
								<div class="table-column table-column-width-small textAlign-Center" data-label="MAX RPO" style="width: 3%;">
									MAX RPO
								</div>
								<div class="table-column table-column-width-small textAlign-Center" data-label="MIN RPO"  style="width: 3%;">
									MIN RPO
								</div>								
								<div class="table-column table-column-width-medium textAlign-Center" data-label="DataCollectionDate"  style="width: 3%;">
									Data Collection Date
								</div>
							</div> <!-- END table-head -->
						</div> <!-- END table -->

						<div ng-repeat="customer in customers | orderBy:predicate:reverse " ng-class = " { 'sg-color-poor-server' : customer.rpoinMins > 30  } " class="table-row table-row-<%= evenOdd %> font75">
							<div class="table-column table-column-width-extra-small textAlign-Center" data-label="CustomerNo" style="width: 1%;">
								{{ $index + 1 }}
							</div>
							<div class="table-column table-column-width-small textAlign-Center" data-label="Oracle ID" style="white-space: nowrap;">
								{{ customer.oracleId }}
							</div>
							<div class="table-column table-column-width-small textAlign-Left">			
								<span class="" data-label="Rx ID">{{ customer.rxAccountId }}</span>
							</div>
							<div class="table-column table-column-width-large sg-color-<%= rpoStatus %> textAlign-Left" data-label="Customer Name">
								<span style="text-transform: uppercase;">{{ customer.name }}</span>
							</div>    
							<div class="table-column table-column-width-medium textAlign-Center" data-label="Number Of Protected Servers"  style="width: 5%;">
								<span class="">{{ customer.numberOfProtectedServers }}</span>
							</div>
							<div class="table-column table-column-width-small textAlign-Center" data-label="Max RPO"  style="width: 3%;">
								<span class="">{{ customer.latestMaxRpoAllHosts }}</span>
							</div>
							<div class="table-column table-column-width-small textAlign-Center" data-label="Min RPO"  style="width: 3%;">
								<span class="">{{ customer.latesttMinRpoAllHosts }}</span>
							</div>							
							<div class="table-column table-column-width-medium textAlign-Center" data-label="DatacollectionDate"  style="width: 3%;">
								<span class="">{{ customer.dataCollectionDate }}</span>
							</div>							
						</div>



					</div> <!-- END tablelist -->
				</div><!-- END row -->

	</div>
</body>
</html>
